.table {
  background: $will-sand;

  thead {
    background: $malibu;
    color: $dimgrey;
  }

  th:first-child {
    padding-left: 2.3rem;
  }

  td {
    vertical-align: middle;
  }

  img {
    max-width: 72px;
  }

  .btn {
    background: $malibu;
    justify-content: space-evenly;
    width: 100%;

    &:hover {
      background: $black;
    }
  }

  a {
    text-decoration: none;
  }
}
